$font: sans-serif;

@mixin inputBox {
  input {
    padding: 5px;
    border: 1px solid grey;
    background-color: rgba(214, 214, 214, 0.5);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 100vh;
  width: 100vw;
  background: rgb(18, 223, 179);
  background: linear-gradient(
    90deg,
    rgba(18, 223, 179, 1) 0%,
    rgba(251, 255, 112, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font;
  .login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(#ffffff, 0.9);
    padding: 70px 50px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 7px 7px 5px -2px rgba(161, 156, 161, 0.5);
    h2,
    input,
    button {
      margin: 10px;
    }

    button {
      width: 90%;
      padding: 3px;
      background-color: rgb(0, 212, 0);
      border: none;
      border-radius: 10px;
      box-shadow: 7px 7px 5px -2px rgba(161, 156, 161, 0.5);
      border: 2px solid rgb(0, 212, 0);
      font-weight: bold;
      &:hover {
        background-color: white;
      }
    }
    @include inputBox();
  }
}
