@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

/* Variables */
$primary-color: white;
$secondary-color: orange; //body background
$accent-color: red; //link highlighting, borders
$text-color: black;

$header-font: "Permanent Marker", cursive;
$secondary-font: "Permanent Marker", cursive;

/* styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: $secondary-color;
  width: 100vw;
  /*start header formatting*/
  header {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10%;
    border-bottom: 2px solid $accent-color;
    font-family: $header-font;
    overflow: hidden;
    /*start navbar link list formatting*/
    ul {
      list-style: none;
      li {
        display: inline-block;
        padding: 0px 1.5vw;
        a {
          text-decoration: none;
          color: $text-color;
          text-align: center;
          cursor: pointer;
        }
        a:hover {
          color: $accent-color;
        }
      }
    } /*end navebar link list formatting*/
  } /*end header formatting*/

  /*start hero formatting*/
  .hero-image {
    min-height: 70vh;
    background: url(img/hero-background.jpg) no-repeat center; //sets hero background image
    background-size: cover;
  }
  /*end hero formatting*/

  /*end footer formatting*/
  .rdm-bar {
    background-color: $accent-color;
    text-align: center;
    font-family: $header-font;
  }
}

/*
  start footer formatting
  tutorial: https://www.youtube.com/watch?v=KUHrMzN7ey8
  */
.footer-container {
  font-family: $header-font;
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
  border-top: 2px solid $accent-color;
}
